
.wrapper {
    display: flex;
    direction: rtl;
    margin: 40px 50px 0;
    transition: ease all .5s;
}

.navigation {
    display: flex;
    flex-direction: column;
    flex: 0.25 ;
    height: fit-content;
    border: 1px solid rgb(230, 230, 230);
}
.navmember {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    min-height: 67px;
    cursor: pointer;
    padding: 12px 16px;
    background: rgb(239, 255, 252);
}
.prof1 {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    gap: 10px;
}
.profpic {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 42px;
    height: 42px;
}
.navicons img {
    width: 42px;
    height: 42px;
}
.profilenav {
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    gap: 6px;
}
.username {
    color: black;
    font-weight: 500;
    font-size: 16px;
}
.email {
    color: rgb(153, 153, 153);
    font-weight: 400;
    font-size: 11px;
}
.navarrow {
    width: 8px;
    height: 16px;
    transform: rotate(180deg);
    
}
.navmember {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    min-height: 67px;
    cursor: pointer;
    padding: 12px 16px;
    background: rgb(255, 255, 255);
}
.navtext {
    display: flex;
    font-size: 16px;
    color: black;
    flex: 1 1 0%;
}
.Container {
    flex: .75;
    border: 1px solid #e6e6e6;
}
